<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>

    <body>
        <div class="container">
            <%- include('../partials/header', {pagina: 'Sobre'}); %>

            <main>
                <div>
                    <h1>Sobre mim</h1>
                    <p>Estou começando a aprender a como usar o ejs :]</p>
                </div>
            </main>

            <%- include('../partials/footer') %>
        </div>
    </body>

</html>