<header>
    
    <nav>
        <a id="logo" href="">EJS</a>
        <div class="nav-items">
            <a id="home-button" href="/">Home</a>
            <a id="about" href="/sobre">Sobre</a>
        </div>
        <p>
            Página: <%= typeof pagina != 'undefined' ? pagina: 'Home' %>
        </p>
    </nav>
</header>