img {
    display: block
}

div {
    color: aliceblue;
    display: inline-block;
    background: cornflowerblue;
    padding: 20px;
    border: 2px solid burlywood;
    font-size: 2rem;
    margin-top: 15px;
}