* {
    outline: none;
    font-family: monospace;
    font-size: 32px;
}

input:focus {
    color: red;
}
    
/* First child of the parent Element, there's the last-child too */
li:first-child {
    color: white;
}

/* First child of it's type */
li:first-of-type {
    background-color:darkslateblue;
}

/* It will be applied to the "number" child in wich the element selected is */
li:nth-child(2) {
    background-color: black;
    color: white;
}

/* It will be applied to the "number" child of the same type of the choosen element */
li:nth-of-type(3) {
    background-color: darkred;
    color: white;
}